:root {
    --main-color: #4a3aff;
    --main-txt-color: #000;
    --mini-title: #121826;
    --input-border-color: #d2d5da;
    --placeholder-color: #6c727f;
    --secondary-color: #f3f1ff;
    --neutral-100: #fff;
    --neutral-200: #f7f7fb;
    --neutral-300: #eff0f6;
    --neutral-400: #d9dbe9;
    --neutral-500: #a0a3bd;
    --neutral-600: #6f6c90;
    --neutral-700: #514f6e;
    --neutral-800: #170f49;
}